@import '../../styles/variables';
.settings {
  grid-column: 1 / -1;
  display: grid;
  grid-gap: 1.5rem;
  height: calc(100vh - 9rem);
  grid-template-columns:
    [home-start] minmax(10rem, 1fr) [first-end content-start] repeat(
      7,
      [col-start] minmax(min-content, 10rem) [col-end]
    )
    [content-end]
    minmax(10rem, 1fr) [home-end];
  grid-auto-rows: min-content;
  padding: 0 2.5rem 2.5rem 2.5rem;
  background-color: $background-color-light;
  color: $white;

  &__sidebar {
    grid-column: 1/4;
    height: calc(100vh - 9rem);
    background-color: $background-color-dark;
    padding: 2rem;
    border-radius: 1.25rem;
    & > *:first-child {
      margin-bottom: 2rem;
    }
  }
  &__Card {
    display: flex;
    padding: 1rem 0.5rem;
    cursor: pointer;
    &-svg {
      margin-right: 2rem;
      svg {
        width: 2rem;
        height: 2rem;
      }
    }
    &-detail {
      display: flex;
      flex-direction: column;
      &--heading {
        font-size: 1.5rem;
        font-weight: 500;
      }
      &--subHeading {
        font-size: 1rem;
        color: $text-light;
      }
    }
    &--clicked {
      background-color: $background-color-light;
    }
  }

  &__form {
    padding: 2rem;
    grid-column: 4/-1;
    background-color: $background-color-dark;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    position: relative;
    &-heading {
      margin-bottom: 2rem;
      font-size: 2.5rem;
      font-weight: 500;
    }
    &-details {
      & > *:first-child {
        margin-bottom: 3rem;
      }
      &-inputContainer {
        padding: 0 2rem;
        width: 100%;
        height: 4.6rem;
        display: flex;
        align-items: center;
        background-color: $background-color-light;
        border-radius: 1rem;
        user-select: none;
        input {
          font-size: 1.5rem;
          width: 100%;
          border: 0;
          outline: none;
          background-color: transparent;
          color: $white;
        }
      }
      &-location {
        margin-top: 2rem;
        display: flex;
        & > *:first-child {
          margin-right: 2rem;
        }
        &-inputContainer {
          padding: 0 2rem;
          width: 100%;
          height: 4.6rem;
          display: flex;
          align-items: center;
          background-color: $background-color-light;
          border-radius: 1rem;
          user-select: none;
          input {
            font-size: 1.5rem;
            width: 100%;
            border: 0;
            outline: none;
            background-color: transparent;
            color: $white;
          }
        }
        &-auto {
          margin-top: 1rem;
          color: $text-light;
          font-size: 1.25rem;
          cursor: pointer;
          transition: all 0.2s;
          display: flex;
          justify-content: end;
          padding: 0.25rem;
          &:hover {
            color: $white;
          }
        }
      }
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 2%;
    width: 100%;
    padding-right: 2rem;
    & > *:first-child {
      margin-right: 2rem;
    }
    & > *:nth-child(1) {
      width: 100%;
    }
    & > *:nth-child(2) {
      width: 100%;
    }
  }
  &__form-upload {
    grid-column: home-start / home-end;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-bottom: 1rem;
    border-bottom: 1.5px solid rgba($text-light, 0.3);
    & > *:first-child {
      margin-right: 0.5rem;
    }
    @media screen and (max-width: 1000px) {
      grid-template-columns: repeat(6, 1fr);
      grid-column-gap: 0.5rem;
    }
    @media screen and (max-width: 700px) {
      grid-template-columns: repeat(6, minmax(max-content, 1fr));
      font-size: 1.25rem;
      grid-column-gap: 2rem;
    }
  }
}
.menuContainer {
  display: flex;
  overflow-y: auto;
  flex-wrap: wrap;
  &__addCard {
    width: 30%;
    padding: 15% 0;
    display: flex;
    margin-top: 2.5rem;
    flex-direction: column;
    align-items: center;
    border-color: $primary-color;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23EA7C69FF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    margin-right: 2rem;
    svg {
      path {
        stroke: $primary-color;
      }
    }
    &-text {
      color: $primary-color;
    }
  }
  & > *:not(:first-child) {
    margin-right: 1.5rem;
  }
}
