@import "../../styles/variables";
.dashboard {
  grid-column: 1 / -1;
  display: grid;
  height: 100vh;
  grid-template-columns:
    [home-start] minmax(10rem, 1fr) [first-end content-start] repeat(
      7,
      [col-start] minmax(min-content, 10rem) [col-end]
    )
    [content-end]
    minmax(10rem, 1fr) [home-end];
  grid-auto-rows: min-content;
  padding: 0 2.5rem 2.5rem 2.5rem;
  background-color: $background-color-light;
  color: $white;

  &__section {
    grid-column: 1/-1;
    padding-top: 2rem;
    border-top: 1.5px solid rgba($text-light, 0.3);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2.5rem;
    height: 15rem;

    &-item {
      background-color: $background-color-dark;
      border-radius: 0.75rem;
      padding: 2rem;
      display: grid;
      grid-auto-rows: min-content;
      grid-row-gap: 1.25rem;
    }
  }
  &__part {
    display: flex;
    align-items: center;
    &-icon {
      background-color: $background-color-light;
      padding: 0.5rem 0.5rem 0.35rem 0.5rem;
      border-radius: 0.75rem;
      margin-right: 1.75rem;
    }
    &-stat {
      span {
        svg {
          height: 1.5rem;
        }
      }
      &-1 {
        color: #50d1aa;
      }
      &-2 {
        color: #ff7ca3;
      }
      &-3 {
        color: #50d1aa;
      }
    }
    &-number {
      font-size: 2rem;
      font-weight: 600;
    }
    &-title {
      color: $text-light;
    }
  }
}
