@import '../../../styles/variables';
.menuAddForm {
  width: 60rem;
  height: 90vh;
  background-color: $background-color-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 2rem;
  padding-bottom: 2rem;
  & > * {
    margin-top: 2rem;
  }
  &__inputdetails {
    justify-content: center;
    align-items: center;
    &--inputContainer {
      padding: 0 2rem;
      width: 70%;
      height: 4.6rem;
      display: flex;
      align-items: center;
      background-color: $background-color-dark;
      border-radius: 1rem;
      user-select: none;
      input {
        font-size: 1.5rem;
        width: 100%;
        border: 0;
        outline: none;
        background-color: transparent;
        color: $white;
      }
      input[type='number']::-webkit-inner-spin-button,
      input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
      }
    }
    &-upload {
      margin-bottom: 2rem;
      margin-top: 3rem;
      label {
        color: $white;
        background-color: $primary-color;
        padding: 1rem 1.5rem;
        border-radius: 1.25rem;
        input {
          display: none;
        }
      }
      &--text {
        margin-top: 1rem;
        color: $text-light;
      }
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    margin-top: auto;
    width: 100%;
    & > *:first-child {
      margin-right: 2rem;
    }
    & > *:nth-child(1) {
      width: 100%;
    }
    & > *:nth-child(2) {
      width: 100%;
    }
  }
}
