@import "../../styles/variables";
.order {
  grid-column: col-start 11 / full-end;
  background-color: $background-color-dark;
  color: $white;
  padding: 2rem;
  font-family: "Barlow";
  font-weight: 600;
  display: grid;
  grid-template-columns:
    [order-start] repeat(6, [col-start] minmax(4rem, 1fr) [col-end])
    [order-end];
  grid-auto-rows: min-content min-content min-content 40rem;
  grid-row-gap: 2rem;
  z-index: 10;
  &__clicked {
    transform: translateX(100%);
  }
  @media screen and (max-width: 1500px) {
    grid-column: 11 / full-end;
  }
  @media screen and (max-width: 1000px) {
    padding: 2rem 1rem;
  }
  @media screen and (max-width: 700px) {
    position: absolute;
    right: 0;
    top: 6.75rem;
    padding-top: 4rem;
    height: 100vh;
  }
  &__heading {
    grid-column: order-start / order-end;
  }
  &__button {
    font-size: 1.25rem;
    user-select: none;
  }
  &__description {
    grid-column: order-start / order-end;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    &-item {
      &-2 {
        justify-self: center;
      }
      &-3 {
        justify-self: center;
      }
    }
    &::after {
      content: "";
      background-color: $background-color-light;
      height: 0.25rem;
      grid-column: order-start / order-end;
    }
  }
  &__item {
    grid-column: order-start / order-end;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0.5rem;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #252836;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #1b1e2c;
    }
  }

  &__discount {
    grid-column: order-start / order-end;
    display: flex;
    user-select: none;
    &-text {
      margin-right: auto;
    }
  }
  &__total {
    grid-column: order-start / order-end;
    display: flex;
    user-select: none;
    &-text {
      margin-right: auto;
    }
  }
  &__payment {
    grid-column: order-start / order-end;
    user-select: none;
  }
}

.right {
  position: absolute;
  left: -1.5rem;
  top: 0.25rem;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.left {
  position: absolute;
  left: -3rem;
  top: 0.25rem;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
