@import "../../styles/variables";
.dishes {
  width: 20rem;
  height: 22.5rem;
  background-color: $background-color-dark;
  border-radius: 1.25rem;
  position: relative;
  display: grid;
  justify-items: center;
  padding: 0 4rem 0 3.75rem;
  margin-bottom: 7.5rem;
  position: relative;
  @media screen and (max-width: 1000px) {
    width: 18rem;
    height: 20.5rem;
    padding: 0 2rem;
  }
  @media screen and (max-width: 700px) {
    width: 16rem;
    height: 19.75rem;
    padding: 0 2rem;
  }
  @media screen and (max-width: 500px) {
    width: 14rem;
    height: 18rem;
    padding: 0 2rem;
  }
  &__image {
    width: 12.75rem;
    height: 12.75rem;
    transform: translateY(-35%);
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    @media screen and (max-width: 700px) {
      width: 10.5rem;
      height: 10.5rem;
    }
    @media screen and (max-width: 500px) {
      width: 9rem;
      height: 9rem;
    }
  }
  &__description {
    margin-top: -5.25rem;
    display: grid;
    justify-items: center;
    grid-auto-rows: min-content;
    grid-row-gap: 1rem;
    text-align: center;
    &-available {
      color: $text-light;
    }
    @media screen and (max-width: 500px) {
      grid-row-gap: 0.5rem;
    }
  }
}
