@import "../../styles/variables";
.sidebar {
  grid-column: sidebar-start / sidebar-end;
  background-color: $background-color-dark;
  height: 100vh;
  color: $primary-color;
  display: grid;
  justify-items: center;
  padding-top: 2rem;
  padding-left: 1.25rem;
  position: sticky;
  top: 0;
  @media screen and (max-width: 700px) {
    height: unset;
    padding-top: 0.5rem;
    padding-left: 0;
    justify-items: unset;
    grid-template-columns: repeat(8, minmax(min-content, 10rem));
    align-items: center;
  }

  &__brand {
    @media screen and (max-width: 1200px) {
      height: 6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        width: 4.5rem;
        height: 4.5rem;
      }
    }
    @media screen and (max-width: 700px) {
      height: 6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
}
